.dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85%;

}

.dialog-content {
display: flex;
justify-content: center;
width: 90%;
/* padding-top: 10rem; */
font-size: larger;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}